/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  background: gray;
  padding: 0 30px;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3.25rem;
}

input,
button {
  font-size: 2.5rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 768px) {
  body {
    padding: 0 5px;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  input, button {
    font-size: 2rem;
  }
}